language: php

php:
  - 7.1
env:
  - HHVM=true

before_script:
  - composer install --prefer-dist --dev
  - mkdir -p build/logs
  - ls -al

after_script:
  - vendor/bin/ocular code-coverage:upload --format=php-clover build/logs/clover.xml

after_success:
# Submit coverage report to Coveralls servers, see .coveralls.yml
 - travis_retry php coveralls.phar -v
# Submit coverage report to codecov.io
 - bash <(curl -s https://codecov.io/bash)
 
#after_failure:

# Tell Travis CI to monitor only 'master' branch
branches:
  only: master

# You can delete the cache using travis-ci web interface
cache:
  directories:
  - vendor
  - $HOME/.cache/composer
